[submodule "python-0-starting"]
	path = python-0-starting
	url = https://github.com/Ricky0625/python-0-starting.git
[submodule "python-1-array"]
	path = python-1-array
	url = https://github.com/Ricky0625/python-1-array.git
[submodule "python-2-datatable"]
	path = python-2-datatable
	url = https://github.com/Ricky0625/python-2-datatable.git
[submodule "python-3-oop"]
	path = python-3-oop
	url = https://github.com/Ricky0625/python-3-oop.git
